@{
                /**/

                Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>GrowthZone Authorization Sample</title>
</head>
<body>
    <div>
        <a href="/home/login">Login</a>
    </div>
</body>
</html>
